.tooltip2 {
    position: relative;
    display: inline-block;
    
}

.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 20px 30px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.tooltip2 .tooltiptext2::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.tooltip2:hover .tooltiptext2 {
    visibility: visible;
}

.valid-name {
    
       width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.gradient {
    height: 200px;
    background: red; /* For browsers that do not support gradients */
    background: linear-gradient(#8eb5f2, #1e68db); /* Standard syntax (must be last) */
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.matchstyle {
    
    color:red;
}

